form {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif ;

  input {
    color:#6c757d ;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #eee;
    width: 100%;
    font-size: 20px;
    font-weight: bold;

  }

  button {
    background-color: #eee;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 8px;
    margin: 0 0 0 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #ef476f;
    font-size: 20px;
    font-family: 'Oswald', sans-serif ;
    font-weight: bold;
    outline: none;
    white-space: nowrap;
    transition: background-color 1s linear;
    transition: color 1s ease-in-out;
    &:hover {
      background-color: #ef476f;
      color:#fff;
    }
  }
}

