.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &.completed {
    background: #6c757d;
    opacity: .6;
  }
  label {
    &::before {
      margin: 0 10px 0 0;
    }
  }
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✕';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: #000;
    line-height: 0;
    -webkit-transition: all .2s;
        transition: all .2s;
  }
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
        transform: scale(0) rotate(45deg);
  }

  [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0);
  }


  button {
    border: 0;
    border-radius: 4px;
    background: #6c757d;
    color: #fff;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: darken(#6c757d, 30%);
    }
  }
}
